* {
  margin: 0;
  padding: 0;
}


.Core {
  color: #ffffff;
  background: #383838;
  height: 100vh;

  h1 {
    text-align: center;
    padding-bottom: 30px;

    &:first-letter {
      color: red;
      text-align: center;
      text-decoration: line-through;
    }
  }
}

.navBar {
  background: #000;
}

//---------------Login-----------------------
.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: -64px;
}

.login {
  min-width: 500px;


  &__form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
      color: #adadad;

      &:hover {
        color: white;
      }
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
    >div:not(:last-child){
      padding-right: 20px;

    }
  }


}
